html, body{
    width: 100%;
    height: 100%;
}
nav.navbar{
    background-color: #d8edea !important;
}
header.signedin{
    padding: 15px;
    box-sizing: border-box;
}
.infoMessage{
    position: relative;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
    box-sizing: border-box;
}
.define-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    padding: 2px;
}
.infoMessage p{
    margin: 0;
}
.error{
    background: #e05b5a;
    border: solid 1px #c94b4b;
    color: white;
}
.success{
    background: #bce8c2;
    border: solid 1px #91c298;
    color: black;
}
.photo-fill-container{
    position: relative;
    width: 100%;
    height: auto;
}
.photo-fill-container img{
    max-width: 100%;
}
.with-background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-warning{
    position: relative;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 1.3em;
    border: solid 1px #d3dbda;
    border-radius: 5px;
}
.content-warning img{
    position: relative;
    width: 125px;
    max-width: 50%;
}
.stretch{
    height: 100%; 
}
header.signedin{
    border-bottom: solid 1px #f0f0f0;
}
.dashboard_stats p{
    display: inline;
    margin: 0px 10px 0px 10px;
}
.dashboard_stats p span{
    font-weight: bold;
}
.page-loader{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}
.appearing{
    animation: appear ease-in-out 1s;
    animation-fill-mode: forwards;
}
.disappearing{
    animation: disappear ease-in-out 1s;
    animation-fill-mode: forwards;
}
.albums{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.albums .album{
    position: relative;
    width: 24%;
    border: solid 1px #d3dbda;
    border-radius: 4px;
    margin: 5px .5% 5px .5%;
    transition: all .5s ease-in-out;
}
.albums .album:hover{
    box-shadow: 0px 5px 29px -20px rgba(0,0,0,0.48);
}
.albums .album .cover-image{
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}
.albums .album .content{
    padding: 5px;
    box-sizing: border-box;
}
.albums .album a {
    margin: 0px 5px 0px 5px;
}
.albums .album a img{
    transition: all .2s ease-in-out;
}
.albums .album a:hover{
    text-decoration:none;
}
.albums .album a:hover img{
    transform: translateY(-5px);
}
.form-group.link{
    display: none;
    margin: 10px;
    padding: 5px;
    border: solid 1px #ededed;
    border-radius: 5px;
}
.form-group.link label{
    display: block;
}
.form-group.link p{
    font-size: 1.1em;
    border: solid 1px #ededed;
    border-radius: 7px;
    background: #fafafa;
    display: inline-block;
}
.form-group.link input{
    display: inline;
    width: 200px;
}
.upload{
    position: relative;
    width: 100%;
    border: solid 1px #ededed;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}
#photos_selected{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.image-preview{
    position: relative;
    display: block;
    margin: 5px 1% 5px 1%;
    width: 23%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-preview::before{
    content: '';
    color: white;
    transition: all .1s ease-in-out;
}
/*.image-preview:hover::before{
    content: 'Klik om te verwijderen';
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}*/
.image-preview::after{
    content: '';
    display: block;
    padding-top: 100%;
}
.selection-mode-menu{
    display: none;
    padding: 5px;
    box-sizing: border-box;
    background: #ededed;
    border-radius: 5px;
}

@keyframes appear{
    from{
        display: inline-block;
        opacity: 0;
    }
    to{
        display: inline-block;
        opacity: 1;
    }
}

@keyframes disappear{
    from{
        display: inline-block;
        opacity: 1;
    }
    to{
        display: none;
        opacity: 0;
    }
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #c1d9d7;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1); 
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    } 
}